<!-- Favicons -->
<link rel="icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="192x192" href="logo192.png" />
<link rel="apple-touch-icon" sizes="512x512" href="logo512.png" />
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-24ZCRCH8HG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-24ZCRCH8HG');
</script>
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:domain" content="workshop.censys.io" />
<meta name="twitter:url" content="https://workshop.censys.io/" />
<meta name="twitter:title" content="Censys Workshop" />
<meta
  name="twitter:description"
  content="Dive into the forefront of innovation at Censys!"
/>
<meta name="twitter:site" content="@censysio" />
<meta name="twitter:creator" content="@censysio" />
<!-- Open Graph -->
<meta property="og:title" content="Censys Workshop" />
<meta
  property="og:description"
  content="Dive into the forefront of innovation at Censys!"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://workshop.censys.io/" />
<meta property="og:site_name" content="Censys Workshop" />
<meta property="og:locale" content="en_US" />
