<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
<link rel="manifest" href="/site.webmanifest?v=1">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#ffad60">
<link rel="shortcut icon" href="/favicon.ico?v=1">
<meta name="apple-mobile-web-app-title" content="Censys Workshop">
<meta name="application-name" content="Censys Workshop">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-24ZCRCH8HG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-24ZCRCH8HG');
</script>
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:domain" content="workshop.censys.io" />
<meta name="twitter:url" content="https://workshop.censys.io/" />
<meta name="twitter:title" content="Censys Workshop" />
<meta
  name="twitter:description"
  content="Dive into the forefront of innovation at Censys!"
/>
<meta name="twitter:site" content="@censysio" />
<meta name="twitter:creator" content="@censysio" />
<!-- Open Graph -->
<meta property="og:title" content="Censys Workshop" />
<meta
  property="og:description"
  content="Dive into the forefront of innovation at Censys!"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://workshop.censys.io/" />
<meta property="og:site_name" content="Censys Workshop" />
<meta property="og:locale" content="en_US" />
